.toggle-radio {
  visibility: hidden;
  position: absolute;
}

.nav-toggle-label {
  border: 1px solid black;
  margin: 2px;
  padding: 10px
}

.header {
  display: flex;
  justify-content: stretch;
  vertical-align: baseline;
}

.h2 {
  vertical-align: baseline;
  font-weight: 700;
}

.h3 {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}