* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 80%;
}

.toggle-radio {
  visibility: hidden;
  position: absolute;
}

.nav-toggle-label {
  border: 3px solid black;
  margin: 2px;
  padding: 10px
}

.nav {
  margin-top: 25px;
}

.header {
  display: flex;
  justify-content: stretch;
  vertical-align: baseline;
}

.h2 {
  vertical-align: baseline;
  font-weight: 700;
}

.h3 {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.sign-in-button {
  background-color: rgb(226, 91, 41);
  color: white;
  font-weight: 600;
  font-size: 1.25em;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background: rgb(37, 37, 37);
}

.summary {
  border-top: 2px solid black;
  position: fixed;
  z-index: 99;
  bottom: 0px;
  text-align: center;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}